Repository hermeznetwork/hermez-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jeffprestes, @arnaubennassar, @Mikelle, @ARR552, @tclemos, @marioidival, @mfcastellani

.github/CODEOWNERS:

*.md                    @jeffprestes @arnaubennassar
api/                    @Mikelle @ARR552
db/*.go                 @Mikelle @tclemos
db/historydb            @Mikelle @tclemos
db/migrations           @Mikelle @arnaubennassar
db/l2db                 @Mikelle @marioidival
db/kvdb                 @Mikelle @marioidival
db/statedb              @Mikelle @marioidival
txselector/             @mfcastellani @tclemos @arnaubennassar
etherscan/              @ARR552
priceupdater/           @marioidival @ARR552
common/                 @Mikelle @mfcastellani
config/                 @ARR552 @marioidival
coordinator/            @mfcastellani @marioidival
node/                   @Mikelle @ARR552
eth/                    @ARR552 @arnaubennassar
cmd/                    @mfcastellani
txprocessor/            @mfcastellani @tclemos @arnaubennassar
health/                 @Mikelle @ARR552
log/                    @mfcastellani
metric/                 @mfcastellani
test/                   @arnaubennassar @mfcastellani
prover/                 @mfcastellani @marioidival
synchronizer/           @ARR552 @arnaubennassar
batchbuilder/           @mfcastellani @marioidival

Update example toml
  cmd/heznode/cfg.builder.toml
  config/config.go
Owners: @mfcastellani, @ARR552, @marioidival

Fix conflicts
  api/txspool.go
Owners: @Mikelle, @ARR552

WIP
  api/account.go
  api/accountcreationauths.go
  api/api.go
  api/api_test.go
  api/atomicpool.go
  api/atomicpool_test.go
  api/batch.go
  api/bids.go
  api/config.go
  api/config_test.go
  api/coordinator.go
  api/coordinatornetwork/coordinatornetwork.go
  api/coordinatornetwork/coordinatornetwork_test.go
  api/coordinatornetwork/libp2p.go
  api/coordinatornetwork/txspool.go
  api/exits.go
  api/fiat.go
  api/health.go
  api/slots.go
  api/state.go
  api/state_test.go
  api/token.go
  api/txshistory.go
  api/txspool.go
  api/txspool_test.go
  common/coordinator.go
  config/config.go
  eth/auction.go
  go.mod
  go.sum
  node/node.go
  synchronizer/synchronizer.go
  test/ethclient.go
Owners: @Mikelle, @ARR552, @mfcastellani, @marioidival, @arnaubennassar

Integrate coordinator network
  api/api.go
  api/coordinatornetwork/coordinatornetwork.go
  api/coordinatornetwork/libp2p.go
  cmd/heznode/main.go
  config/config.go
  node/node.go
Owners: @Mikelle, @ARR552, @mfcastellani, @marioidival

Fix the use of multi proof servers
  config/config.go
  node/node.go
Owners: @ARR552, @marioidival, @Mikelle

Adding new request for updating transactions in tx-pool (#1044)
  api/api.go
  api/atomicpool_test.go
  api/errors.go
  api/swagger.yml
  api/txspool.go
  api/txspool_test.go
  db/l2db/apiqueries.go
  db/l2db/l2db.go
  db/l2db/l2db_test.go
  db/migrations/0009.sql
  db/migrations/0009_test.go
Owners: @Mikelle, @ARR552, @marioidival, @arnaubennassar

Fix linter
  api/api.go
  node/node.go
Owners: @Mikelle, @ARR552

atomic: fix error message at invalid group
  txselector/txselector.go
  txselector/txselector_test.go
Owners: @mfcastellani, @tclemos, @arnaubennassar

Feature/update tx by idx and nonce (#1070)
  api/api.go
  api/parsers/txpool.go
  api/swagger.yml
  api/txspool.go
  api/txspool_test.go
  db/l2db/apiqueries.go
  db/l2db/l2db.go
Owners: @Mikelle, @ARR552, @marioidival

Feature/#711 default config (#1037)
  api/stateapiupdater/stateapiupdater.go
  cmd/heznode/cfg.builder.toml
  cmd/heznode/main.go
  config/README.md
  config/config.go
  config/default.go
  go.mod
  go.sum
  node/node.go
  priceupdater/priceupdater.go
Owners: @Mikelle, @ARR552, @mfcastellani, @marioidival

Revert "Feature/update tx by idx and nonce (#1070)"
  api/api.go
  api/parsers/txpool.go
  api/swagger.yml
  api/txspool.go
  api/txspool_test.go
  db/l2db/apiqueries.go
  db/l2db/l2db.go
Owners: @Mikelle, @ARR552, @marioidival

test: remove debug log
  txselector/txselector_test.go
Owners: @mfcastellani, @tclemos, @arnaubennassar

tests: remove unecessary comments
  txselector/txselector_test.go
Owners: @mfcastellani, @tclemos, @arnaubennassar

Feature/tx selector sort txs by profitability (#1072)
  txselector/txselector.go
  txselector/txselector_test.go
Owners: @mfcastellani, @tclemos, @arnaubennassar

added guide to run integration tests (#1065)
  doc/info-to-run-integration-tests-hermez-node.md
Owners: @jeffprestes, @arnaubennassar

added possibility to update tx with invl status
  api/txspool.go
  db/l2db/l2db.go
Owners: @Mikelle, @ARR552, @marioidival

added possibility to update tx with invl status (#1075)
  api/txspool.go
  db/l2db/l2db.go
Owners: @Mikelle, @ARR552, @marioidival

remove not necessary TODO messages
  coordinator/coordinator_test.go
  test/ethclient.go
  txselector/txselector.go
Owners: @mfcastellani, @marioidival, @arnaubennassar, @tclemos

txselector: use PR suggestion
  txselector/txselector.go
Owners: @mfcastellani, @tclemos, @arnaubennassar

remove config price updater
  config/README.md
  config/config.go
  config/default.go
Owners: @ARR552, @marioidival

implemented make backup command
  cmd/heznode/main.go
Owners: @mfcastellani
