Repository hermeznetwork/hermez-node, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ed255, @jeffprestes, @arnaubennassar, @Pantani

fixed pr remarks
  api/parsers.go
  api/swagger.yml
  api/txshistory.go
  api/txspool.go
  db/historydb/apiqueries.go
  db/l2db/apiqueries.go
Owners: @arnaubennassar, @ed255

fixed l2db_test.go
  db/l2db/l2db_test.go
Owners: @ed255

added comment to the GetPoolTxsAPIRequest struct
  db/l2db/apiqueries.go
Owners: @ed255

fixed txshistory_test.go
  api/txshistory_test.go
  db/l2db/l2db_test.go
Owners: @arnaubennassar, @ed255

Reset pool txs with batchNum forged externally
  coordinator/coordinator.go
  db/l2db/l2db.go
  db/l2db/l2db_test.go
Owners: @ed255

trigger integration action on 'rc'tags
  .github/workflows/integration.yml
Owners: @Pantani

Reset pool txs with batchNum forged externally
  coordinator/coordinator.go
Owners: @ed255

remove max tx for remove by TTL
  config/config.go
  db/l2db/l2db.go
Owners: @ed255

remove unnecessary config addresses
  cli/node/cfg.buidler.toml
  config/config.go
  coordinator/pipeline_test.go
  eth/client.go
  node/node.go
Owners: @ed255

Reset pool txs with batchNum forged externally (#720)
  coordinator/coordinator.go
Owners: @ed255

remove unnecessary token address and name from the config
  cli/node/cfg.buidler.toml
  config/config.go
  coordinator/pipeline_test.go
  eth/auction.go
  eth/client.go
  eth/main_test.go
  eth/rollup.go
  eth/rollup_test.go
  eth/token.go
  node/node.go
Owners: @ed255

remove max tx for remove by TTL (#714)
  config/config.go
  db/l2db/l2db.go
Owners: @ed255

trigger integration action on 'rc'tags (#724)
  .github/workflows/integration.yml
Owners: @Pantani

delete temporary test files properly
  batchbuilder/batchbuilder_test.go
  coordinator/coordinator_test.go
  coordinator/pipeline_test.go
  coordinator/purger_test.go
  db/kvdb/kvdb_test.go
  db/statedb/statedb_test.go
  db/statedb/utils_test.go
  synchronizer/synchronizer_test.go
  test/debugapi/debugapi_test.go
  test/zkproof/flows_test.go
  test/zkproof/zkproof_test.go
  txprocessor/txprocessor_test.go
  txprocessor/zkinputsgen_test.go
  txselector/txselector_test.go
Owners: @ed255

fix CI linter
  coordinator/coordinator_test.go
  coordinator/purger_test.go
  synchronizer/synchronizer_test.go
Owners: @ed255

added unique constraint, returned go.mod,
  api/swagger.yml
  db/l2db/l2db_test.go
  db/migrations/0002.sql
  go.mod
  go.sum
Owners: @arnaubennassar, @ed255

fixed wrong comments
  api/txspool_test.go
  db/l2db/apiqueries.go
Owners: @arnaubennassar, @ed255

fixed errors after renaming of GetPoolTxs -> GetPoolTxsAPI
  api/txspool.go
  db/l2db/l2db_test.go
Owners: @arnaubennassar, @ed255

delete temporary test files properly (#727)
  batchbuilder/batchbuilder_test.go
  coordinator/coordinator_test.go
  coordinator/pipeline_test.go
  coordinator/purger_test.go
  db/kvdb/kvdb_test.go
  db/statedb/statedb_test.go
  db/statedb/utils_test.go
  synchronizer/synchronizer_test.go
  test/debugapi/debugapi_test.go
  test/zkproof/flows_test.go
  test/zkproof/zkproof_test.go
  txprocessor/txprocessor_test.go
  txprocessor/zkinputsgen_test.go
  txselector/txselector_test.go
Owners: @ed255

Automatically fetch the smart contract addresses from the Rollup contract (#723)
  cli/node/cfg.buidler.toml
  config/config.go
  coordinator/pipeline_test.go
  eth/auction.go
  eth/client.go
  eth/main_test.go
  eth/rollup.go
  eth/rollup_test.go
  eth/token.go
  node/node.go
Owners: @ed255

fix the setType method to avoid invalid tx in the tx pool
  api/apitypes/apitypes.go
  common/pooll2tx.go
  common/pooll2tx_test.go
  db/l2db/l2db_test.go
  test/til/txs.go
  test/til/txs_test.go
  txprocessor/zkinputsgen_test.go
Owners: @arnaubennassar, @ed255

fix govet error
  Makefile
  db/historydb/historydb_test.go
  eth/client.go
Owners: @Pantani, @ed255

fix govet error (#730)
  Makefile
  db/historydb/historydb_test.go
  eth/client.go
Owners: @Pantani, @ed255

changed validation of config
  config/config.go
  coordinator/coordinator.go
  node/node.go
  priceupdater/priceupdater.go
Owners: @ed255

allow overriding test DB using envvars (+ fix #716)
  .github/workflows/test.yml
  Makefile
  README.md
  api/api_test.go
  coordinator/coordinator_test.go
  coordinator/purger_test.go
  db/historydb/historydb_test.go
  db/l2db/l2db_test.go
  db/utils_test.go
  priceupdater/priceupdater_test.go
  synchronizer/synchronizer_test.go
  test/dbUtils.go
  test/zkproof/flows_test.go
  txselector/txselector_test.go
Owners: @Pantani, @jeffprestes, @arnaubennassar, @ed255

allow overriding test DB details using env vars (+ fix #716)
  .github/workflows/test.yml
  Makefile
  README.md
  api/api_test.go
  coordinator/coordinator_test.go
  coordinator/purger_test.go
  db/historydb/historydb_test.go
  db/l2db/l2db_test.go
  db/utils.go
  db/utils_test.go
  priceupdater/priceupdater_test.go
  synchronizer/synchronizer_test.go
  test/zkproof/flows_test.go
  txselector/txselector_test.go
Owners: @Pantani, @jeffprestes, @arnaubennassar, @ed255

update github templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/develop.md
  .github/PULL_REQUEST_TEMPLATE/master.md
Owners: @Pantani

update github templates (#735)
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/develop.md
  .github/PULL_REQUEST_TEMPLATE/master.md
Owners: @Pantani

fix the setType method to avoid invalid tx in the tx pool (#708)
  api/apitypes/apitypes.go
  common/pooll2tx.go
  common/pooll2tx_test.go
  db/l2db/l2db_test.go
  test/til/txs.go
  test/til/txs_test.go
  txprocessor/zkinputsgen_test.go
Owners: @arnaubennassar, @ed255

from and to filters now works together
  api/swagger.yml
  db/historydb/apiqueries.go
  db/l2db/apiqueries.go
Owners: @arnaubennassar, @ed255

create the metrics package for a better app instrumenting
  cli/node/cfg.buidler.toml
  metric/metric.go
  synchronizer/metrics.go
  synchronizer/synchronizer.go
  txselector/metrics.go
  txselector/txselector.go
Owners: @ed255

added test and move logic to api.NewAPI
  api/api.go
  api/api_test.go
  api/noroute.go
  api/noroute_test.go
  node/node.go
Owners: @arnaubennassar, @ed255

added checker for version in no route api
  node/node.go
Owners: @ed255

Faster synchronization with usage of HeaderByNumber instead of BlockByNumber
  eth/ethereum.go
Owners: @ed255

Measure the server proof duration
  coordinator/batch.go
  coordinator/pipeline.go
Owners: @ed255

.github/CODEOWNERS:

*                       @ed255
*.md                    @jeffprestes
api/                    @arnaubennassar
Makefile                @Pantani
.goreleaser.yml         @Pantani
.github/                @Pantani
