Repository hermeznetwork/hermez-node, pull requests merged in 2021-06, with the labels that each got.

#834 Accounts endpoint checks query params
  api/account.go
  api/account_test.go
Labels: api

#799 TxSelector Refactor
  common/tx.go
  coordinator/coordinator_test.go
  node/node.go
  test/zkproof/flows_test.go
  txprocessor/txprocessor.go
  txselector/errors.go
  txselector/interfaces.go
  txselector/interfaces_test.go
  txselector/txbatch.go
  txselector/txbatch_test.go
  txselector/txgroup.go
  txselector/txgroup_test.go
  txselector/txselector.go
  txselector/txselector_test.go
Labels: atomictx, coordinator, enhancement, feature, txselector

#823 Implement atomic-pool endpoint
  api/api.go
  api/api_test.go
  api/errors.go
  api/swagger.yml
  api/txspool.go
  api/txspool_test.go
  common/pooll2tx.go
  db/l2db/apiqueries.go
  db/l2db/views.go
  go.mod
  go.sum
Labels: api

#828 Price updater and fiat currency + endpoint
  .github/CODEOWNERS
  api/api.go
  api/errors.go
  api/fiat.go
  api/fiat_test.go
  api/parsers.go
  api/stateapiupdater/stateapiupdater.go
  api/swagger.yml
  cmd/heznode/cfg.buidler.toml
  config/config.go
  db/historydb/apiqueries.go
  db/historydb/historydb.go
  db/historydb/views.go
  db/migrations/0002_test.go
  db/migrations/0004.sql
  db/migrations/0004_test.go
  node/node.go
  priceupdater/priceupdater.go
  priceupdater/priceupdater_test.go
Labels: api

#864 Priceupdater: check if err or res are nil and create appropriate log
  priceupdater/priceupdater.go
Labels: bug
