Repository hermeznetwork/hermez-node, pull requests merged in 2021-04, with the labels that each got.

#686 Add filter to include unforged history txs in api
  api/api_test.go
  api/batch.go
  api/swagger.yml
  api/txshistory.go
  api/txshistory_test.go
  db/historydb/apiqueries.go
Labels: api

#668 Faster synchronization with less updates of Ethereum stats
  cli/node/cfg.buidler.toml
  config/config.go
  coordinator/coordinator_test.go
  node/node.go
  synchronizer/synchronizer.go
  synchronizer/synchronizer_test.go
Labels: synchronizer

#685 Faster synchronization with asynchronous deletion of old checkpoints
  db/kvdb/kvdb.go
  db/kvdb/kvdb_test.go
  db/statedb/statedb.go
  db/statedb/statedb_test.go
Labels: synchronizer

#720 Reset pool txs with batchNum forged externally (alternative)
  coordinator/coordinator.go
Labels: bug, coordinator

#714 remove max tx for remove by TTL
  config/config.go
  db/l2db/l2db.go
Labels: coordinator

#723 Automatically fetch the smart contract addresses from the Rollup contract
  cli/node/cfg.buidler.toml
  config/config.go
  coordinator/pipeline_test.go
  eth/auction.go
  eth/client.go
  eth/main_test.go
  eth/rollup.go
  eth/rollup_test.go
  eth/token.go
  node/node.go
Labels: coordinator, enhancement, ethclient
